body {
  background: linear-gradient(45deg, rgba(5, 26, 117, 0.904) 0%, rgba(24, 216, 219, 0.5) 100%);
  color: rgba(0, 0, 0, 0.6);
  padding-top: 50px;
  overflow: hidden;
}

* {margin:0; padding:0;}

.profil-img img{
  width: 250px;
  height: 300px;
  margin: -1.5em 0 10px 4em;
}

.profil{
  border-top: 2px solid #B0C4DE;
  font-size: 20px;

}

.profil2{
  border-top: 2px solid #B0C4DE;
  border-left: 2px solid #B0C4DE;
  font-size: 20px;
}

.profil>ul>li{
  list-style-type: none;
  padding-top: 10px;
}

.profil2>ul>li{
  list-style-type: none;
  padding-top: 10px;
}

.white{
  color: white;
}

.profil3{
  margin-left: 100px;
  font-size: 23px;
}